<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%= title %> </title>
<link rel="stylesheet" href="/styles/admin-styles.css">
<script>let value;</script>