<a class="brand">Katie's</a>
<a href="#" class="toggle-button"><i class="fa-solid fa-bars"></i></a>
<nav>
    <div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/#products">Products</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
    </div>
</nav>
<ul class="nav-icons">
    <li class="dropdown"><a href="javascript:void(0)" class="dropbtn"><i class="fa-solid fa-user"></i></a>
        <div class="dropdown-content">
            <a href="/auth/signin">Sign In</a>
            <a href="/auth/register">Register</a>

        </div>
    </li>
</ul>
