Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus voluptates asperiores perferendis, mollitia dolorem, assumenda perspiciatis illum dicta culpa aliquam, dolor libero nesciunt molestias dolores. Vitae repudiandae saepe fuga veritatis.
<h1><%= user.id %> <%= user.userRole %> <%= user.username %>  </h1>